.continer1{
    border-width:3px;
    border-color:rgb(75,244,29);
    border-style:solid;

.continer2{
    border: 3pxrgb(0,60,255)solid;
    border-radius: 150px;
}
.continer4{
    border-radius: 500px;
}