#para1{
    border: 3px rgb(9,255,0)solid;
    border-radius:100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
#para2{
    border: 3px goldenrod solid;
    border-radius: 100px;
    margin:200px 150px 300px 100px;/*T R B L*/
}