.container1{
    border: 3px solid blue;
    color:aqua;
    margin:35px;
    width:200px;
}
.container2{
    border:3px solid blue;
    color:aqua;
    margin:35px;
   min-width:200px;
}
.container3{
    border:3px solid blue;
    color:aqua;
    margin:35px;

    max-width: 300px;
}