*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:url("../asserts/Images/2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    width:420px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:30px;
    text-align:center;
    color:black;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.card img{
    width:170px;
    height:170px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
}

.card h1{
    margin-bottom:10px;
}

.card h3{
    color:#ffe600;
    margin-bottom:20px;
}

.card p{
    line-height:1.7;
    margin-bottom:20px;
}

.card ul{
    list-style:none;
    margin-bottom:25px;
}

.card ul li{
    padding:6px;
}

.card a{
    text-decoration:none;
    color:white;
    background:#0077ff;
    padding:12px 30px;
    border-radius:30px;
    transition:.3s;
}

.card a:hover{
    background:#00bfff;
}